.backdrop {

    opacity: 0.8;
    background-color: white;
    height: 100vh;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}